@using Microsoft.AspNetCore.Http
@using MoviesHub_BLL.DTO
@model IEnumerable<MoviesHub_BLL.DTO.PublicationDto>

@inject IHttpContextAccessor Accessor

@{
    ViewData["Title"] = "Mon Flux";
}


<div class="d-flex flex-column justify-content-center align-items-center bg-primary text-white pt-5 pb-5">
    <div class="card col-md-3">
        <div class="card-body text-black text-center">
            <h4 class="card-title">
                @Accessor.HttpContext?.Session.GetString("Firstname")
                @Accessor.HttpContext?.Session.GetString("Lastname")
            </h4>
            <img class="img-fluid" src="https://localhost:7158/images/@Accessor.HttpContext?.Session.GetString("Image")" alt="Photo de profil de @Accessor.HttpContext?.Session.GetString("Lastname")">
            <p class="card-text">Bienvenue sur votre compte !</p>
            <a asp-action="UpdateUser" asp-controller="Connexion" class="btn btn-primary">Mettre à jour mon profil</a>
            <a class="btn btn-primary" asp-area="" asp-controller="Flux" asp-action="Create">Créer une publication</a>
        </div>
    </div>
    @foreach (PublicationDto publication in Model)
    {
        <div class="d-flex justify-content-center flex-column mt-5 pb-3 bg-light text-black w-50 m-auto">
            <div class="d-flex justify-content-between">
                <p class="text-start p-3">Vous avez regardé ce film</p>
                <p class="text-end p-3">@publication.CreatedAt</p>
            </div>
            <div class="d-flex justify-content-center align-items-center flex-column">
                <p class="fw-bolder">@publication.Title</p>
                <div class="col-md-3">
                    <img class="img-fluid" src="@publication.Image" alt="@publication.Title"/>
                </div>
                <p class="w-50 text-center pt-3">@publication.Description</p>
                <button class="btn btn-primary">Publier un commentaire</button>
            </div>
            <div class="d-flex justify-content-center align-items-center flex-column m-3 border-top">
                <p class="fst-italic m-3">Vous n'avez aucun commentaire.</p>
            </div>
        </div>
    }
</div>