@using MoviesWorld_BLL.DTO
@model IEnumerable<MoviesWorld_BLL.DTO.CommentDto>

<div class="d-flex flex-column vh-100">
    @foreach (CommentDto comment in Model)
    {
        <div class="d-flex bg-white shadow w-50 m-auto mt-3 mb-3">
            <div class="d-flex flex-column align-items-center justify-content-center mt-3">
                <img class="img-fluid rounded-circle w-25" src="https://localhost:7158/images/@comment.User?.Image" alt="photo de profil de @comment.User?.Lastname"/>
                <p class="fw-bold">@comment.User?.Firstname @comment.User?.Lastname</p>
            </div>
            <div class="container-fluid m-auto p-3">
                <p class="text-center fw-bold">@comment.Headline</p>
                <p class="text-start">@comment.Body</p>
                <p class="text-end fst-italic">@comment.CreatedAt.ToShortDateString()</p>
            </div>
        </div>
    }
    <a asp-controller="Flux" asp-action="Index" class="btn btn-outline-light w-25 m-auto">Retour</a>
</div>